openapi: 3.1.0
info:
  title: PredictHQ Features API
  version: 1.0.0
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
  termsOfService: https://www.predicthq.com/legal/terms
servers:
  - url: https://api.predicthq.com
externalDocs: 
  url: https://docs.predicthq.com
  description: PredictHQ Tech Docs
x-hideTryItPanel: true
security:
  - BearerAuth: []
tags:
  - name: Features API
    externalDocs: 
      url: https://docs.predicthq.com/api/features
      description: Features API Docs
paths:
  /features:
    post:
      operationId: getFeatures
      tags:
        - Features API
      summary: Get ML Features
      description: |-
        Access prebuilt Machine Learning features that will take your forecast models and results to the next level, fast. Gain access to over 100 ML-ready features that are guaranteed to improve your forecasting accuracy.
      parameters:
        - $ref: '#/components/parameters/LimitParam'
        - $ref: '#/components/parameters/OffsetParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FeaturesRequestModel'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
            text/csv:
              schema:
                type: string
                description: CSV-formatted string
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
components:
  parameters:
    LimitParam:
      name: limit
      in: query
      description: Limit the number of results.
      required: false
      schema:
        type: integer
        default: 100
    OffsetParam:
      name: offset
      in: query
      description: Offset the results.
      required: false
      schema:
        type: integer
        default: 0
  schemas:
    ActiveDateRange:
      properties:
        gt:
          anyOf:
            - type: string
              format: date
            - type: 'null'
          title: Gt
        gte:
          anyOf:
            - type: string
              format: date
            - type: 'null'
          title: Gte
        lt:
          anyOf:
            - type: string
              format: date
            - type: 'null'
          title: Lt
        lte:
          anyOf:
            - type: string
              format: date
            - type: 'null'
          title: Lte
        tz:
          anyOf:
            - type: string
            - type: 'null'
          title: Tz
      type: object
      title: ActiveDateRange
    Beam:
      properties:
        analysis_id:
          type: string
          minLength: 1
          title: Analysis Id
          description: Beam analysis ID
        group_id:
          anyOf:
            - type: string
              minLength: 1
            - type: 'null'
          title: Group Id
          description: Beam analysis group ID
      type: object
      required:
        - analysis_id
      title: Beam
    FeaturesRequestModel:
      properties:
        active:
          $ref: '#/components/schemas/ActiveDateRange'
        beam:
          anyOf:
            - $ref: '#/components/schemas/Beam'
            - type: 'null'
        hour_of_day_active:
          anyOf:
            - $ref: '#/components/schemas/HourOfDayRange'
            - type: 'null'
        hour_of_day_start:
          anyOf:
            - $ref: '#/components/schemas/HourOfDayRange'
            - type: 'null'
        hour_of_day_end:
          anyOf:
            - $ref: '#/components/schemas/HourOfDayRange'
            - type: 'null'
        location:
          anyOf:
            - $ref: '#/components/schemas/Location'
            - type: 'null'
        interval:
          anyOf:
            - $ref: '#/components/schemas/Interval'
            - type: 'null'
          default: day
        week_start_day:
          anyOf:
            - $ref: '#/components/schemas/Weekday'
            - type: 'null'
        predicted_events:
          anyOf:
            - $ref: '#/components/schemas/PredictedEvents'
            - type: 'null'
        phq_attendance_academic_graduation:
          $ref: '#/components/schemas/StatsField'
          default: false
        phq_attendance_academic_social:
          $ref: '#/components/schemas/StatsField'
          default: false
        phq_attendance_community:
          $ref: '#/components/schemas/StatsField'
          default: false
        phq_attendance_concerts:
          $ref: '#/components/schemas/StatsField'
          default: false
        phq_attendance_conferences:
          $ref: '#/components/schemas/StatsField'
          default: false
        phq_attendance_expos:
          $ref: '#/components/schemas/StatsField'
          default: false
        phq_attendance_festivals:
          $ref: '#/components/schemas/StatsField'
          default: false
        phq_attendance_performing_arts:
          $ref: '#/components/schemas/StatsField'
          default: false
        phq_attendance_sports:
          $ref: '#/components/schemas/StatsField'
          default: false
        phq_attendance_school_holidays:
          $ref: '#/components/schemas/StatsField'
          default: false
        phq_attendance_community_accommodation:
          $ref: '#/components/schemas/StatsField'
          default: false
        phq_attendance_concerts_accommodation:
          $ref: '#/components/schemas/StatsField'
          default: false
        phq_attendance_conferences_accommodation:
          $ref: '#/components/schemas/StatsField'
          default: false
        phq_attendance_expos_accommodation:
          $ref: '#/components/schemas/StatsField'
          default: false
        phq_attendance_festivals_accommodation:
          $ref: '#/components/schemas/StatsField'
          default: false
        phq_attendance_performing_arts_accommodation:
          $ref: '#/components/schemas/StatsField'
          default: false
        phq_attendance_sports_accommodation:
          $ref: '#/components/schemas/StatsField'
          default: false
        phq_attendance_community_hospitality:
          $ref: '#/components/schemas/StatsField'
          default: false
        phq_attendance_concerts_hospitality:
          $ref: '#/components/schemas/StatsField'
          default: false
        phq_attendance_conferences_hospitality:
          $ref: '#/components/schemas/StatsField'
          default: false
        phq_attendance_expos_hospitality:
          $ref: '#/components/schemas/StatsField'
          default: false
        phq_attendance_festivals_hospitality:
          $ref: '#/components/schemas/StatsField'
          default: false
        phq_attendance_performing_arts_hospitality:
          $ref: '#/components/schemas/StatsField'
          default: false
        phq_attendance_sports_hospitality:
          $ref: '#/components/schemas/StatsField'
          default: false
        phq_attendance_community_retail:
          $ref: '#/components/schemas/StatsField'
          default: false
        phq_attendance_concerts_retail:
          $ref: '#/components/schemas/StatsField'
          default: false
        phq_attendance_conferences_retail:
          $ref: '#/components/schemas/StatsField'
          default: false
        phq_attendance_expos_retail:
          $ref: '#/components/schemas/StatsField'
          default: false
        phq_attendance_festivals_retail:
          $ref: '#/components/schemas/StatsField'
          default: false
        phq_attendance_performing_arts_retail:
          $ref: '#/components/schemas/StatsField'
          default: false
        phq_attendance_sports_retail:
          $ref: '#/components/schemas/StatsField'
          default: false
        phq_rank_daylight_savings:
          type: boolean
          title: Phq Rank Daylight Savings
          default: false
        phq_rank_health_warnings:
          type: boolean
          title: Phq Rank Health Warnings
          default: false
        phq_rank_observances:
          type: boolean
          title: Phq Rank Observances
          default: false
        phq_rank_public_holidays:
          type: boolean
          title: Phq Rank Public Holidays
          default: false
        phq_rank_school_holidays:
          type: boolean
          title: Phq Rank School Holidays
          default: false
        phq_rank_politics:
          type: boolean
          title: Phq Rank Politics
          default: false
        phq_rank_academic_session:
          type: boolean
          title: Phq Rank Academic Session
          default: false
        phq_rank_academic_exam:
          type: boolean
          title: Phq Rank Academic Exam
          default: false
        phq_rank_academic_holiday:
          type: boolean
          title: Phq Rank Academic Holiday
          default: false
        phq_impact_observances:
          $ref: '#/components/schemas/StatsField'
          default: false
        phq_impact_public_holidays:
          $ref: '#/components/schemas/StatsField'
          default: false
        phq_impact_school_holidays:
          $ref: '#/components/schemas/StatsField'
          default: false
        phq_impact_academic_exam:
          $ref: '#/components/schemas/StatsField'
          default: false
        phq_impact_academic_holiday:
          $ref: '#/components/schemas/StatsField'
          default: false
        phq_impact_academic_session:
          $ref: '#/components/schemas/StatsField'
          default: false
        phq_impact_observances_accommodation:
          $ref: '#/components/schemas/StatsField'
          default: false
        phq_impact_observances_hospitality:
          $ref: '#/components/schemas/StatsField'
          default: false
        phq_impact_observances_retail:
          $ref: '#/components/schemas/StatsField'
          default: false
        phq_impact_public_holidays_accommodation:
          $ref: '#/components/schemas/StatsField'
          default: false
        phq_impact_public_holidays_hospitality:
          $ref: '#/components/schemas/StatsField'
          default: false
        phq_impact_public_holidays_retail:
          $ref: '#/components/schemas/StatsField'
          default: false
        phq_impact_severe_weather_air_quality_retail:
          $ref: '#/components/schemas/StatsField'
          default: false
        phq_impact_severe_weather_blizzard_retail:
          $ref: '#/components/schemas/StatsField'
          default: false
        phq_impact_severe_weather_cold_wave_retail:
          $ref: '#/components/schemas/StatsField'
          default: false
        phq_impact_severe_weather_cold_wave_snow_retail:
          $ref: '#/components/schemas/StatsField'
          default: false
        phq_impact_severe_weather_cold_wave_storm_retail:
          $ref: '#/components/schemas/StatsField'
          default: false
        phq_impact_severe_weather_dust_retail:
          $ref: '#/components/schemas/StatsField'
          default: false
        phq_impact_severe_weather_dust_storm_retail:
          $ref: '#/components/schemas/StatsField'
          default: false
        phq_impact_severe_weather_flood_retail:
          $ref: '#/components/schemas/StatsField'
          default: false
        phq_impact_severe_weather_heat_wave_retail:
          $ref: '#/components/schemas/StatsField'
          default: false
        phq_impact_severe_weather_hurricane_retail:
          $ref: '#/components/schemas/StatsField'
          default: false
        phq_impact_severe_weather_thunderstorm_retail:
          $ref: '#/components/schemas/StatsField'
          default: false
        phq_impact_severe_weather_tornado_retail:
          $ref: '#/components/schemas/StatsField'
          default: false
        phq_impact_severe_weather_tropical_storm_retail:
          $ref: '#/components/schemas/StatsField'
          default: false
        phq_viewership_sports:
          $ref: '#/components/schemas/StatsField'
          default: false
        phq_viewership_sports_american_football:
          $ref: '#/components/schemas/StatsField'
          default: false
        phq_viewership_sports_american_football_ncaa_men:
          $ref: '#/components/schemas/StatsField'
          default: false
        phq_viewership_sports_american_football_nfl:
          $ref: '#/components/schemas/StatsField'
          default: false
        phq_viewership_sports_auto_racing:
          $ref: '#/components/schemas/StatsField'
          default: false
        phq_viewership_sports_auto_racing_indy_car:
          $ref: '#/components/schemas/StatsField'
          default: false
        phq_viewership_sports_auto_racing_nascar:
          $ref: '#/components/schemas/StatsField'
          default: false
        phq_viewership_sports_baseball:
          $ref: '#/components/schemas/StatsField'
          default: false
        phq_viewership_sports_baseball_mlb:
          $ref: '#/components/schemas/StatsField'
          default: false
        phq_viewership_sports_baseball_ncaa_men:
          $ref: '#/components/schemas/StatsField'
          default: false
        phq_viewership_sports_basketball:
          $ref: '#/components/schemas/StatsField'
          default: false
        phq_viewership_sports_basketball_nba:
          $ref: '#/components/schemas/StatsField'
          default: false
        phq_viewership_sports_basketball_ncaa_men:
          $ref: '#/components/schemas/StatsField'
          default: false
        phq_viewership_sports_basketball_ncaa_women:
          $ref: '#/components/schemas/StatsField'
          default: false
        phq_viewership_sports_boxing:
          $ref: '#/components/schemas/StatsField'
          default: false
        phq_viewership_sports_golf:
          $ref: '#/components/schemas/StatsField'
          default: false
        phq_viewership_sports_golf_masters:
          $ref: '#/components/schemas/StatsField'
          default: false
        phq_viewership_sports_golf_pga_championship:
          $ref: '#/components/schemas/StatsField'
          default: false
        phq_viewership_sports_golf_pga_tour:
          $ref: '#/components/schemas/StatsField'
          default: false
        phq_viewership_sports_golf_us_open:
          $ref: '#/components/schemas/StatsField'
          default: false
        phq_viewership_sports_horse_racing:
          $ref: '#/components/schemas/StatsField'
          default: false
        phq_viewership_sports_horse_racing_belmont_stakes:
          $ref: '#/components/schemas/StatsField'
          default: false
        phq_viewership_sports_horse_racing_kentucky_derby:
          $ref: '#/components/schemas/StatsField'
          default: false
        phq_viewership_sports_horse_racing_preakness_stakes:
          $ref: '#/components/schemas/StatsField'
          default: false
        phq_viewership_sports_ice_hockey:
          $ref: '#/components/schemas/StatsField'
          default: false
        phq_viewership_sports_ice_hockey_nhl:
          $ref: '#/components/schemas/StatsField'
          default: false
        phq_viewership_sports_mma:
          $ref: '#/components/schemas/StatsField'
          default: false
        phq_viewership_sports_mma_ufc:
          $ref: '#/components/schemas/StatsField'
          default: false
        phq_viewership_sports_soccer:
          $ref: '#/components/schemas/StatsField'
          default: false
        phq_viewership_sports_soccer_concacaf_champions_league:
          $ref: '#/components/schemas/StatsField'
          default: false
        phq_viewership_sports_soccer_concacaf_gold_cup:
          $ref: '#/components/schemas/StatsField'
          default: false
        phq_viewership_sports_soccer_copa_america_men:
          $ref: '#/components/schemas/StatsField'
          default: false
        phq_viewership_sports_soccer_fifa_world_cup_women:
          $ref: '#/components/schemas/StatsField'
          default: false
        phq_viewership_sports_soccer_fifa_world_cup_men:
          $ref: '#/components/schemas/StatsField'
          default: false
        phq_viewership_sports_soccer_mls:
          $ref: '#/components/schemas/StatsField'
          default: false
        phq_viewership_sports_soccer_uefa_champions_league_men:
          $ref: '#/components/schemas/StatsField'
          default: false
        phq_viewership_sports_softball:
          $ref: '#/components/schemas/StatsField'
          default: false
        phq_viewership_sports_softball_ncaa_women:
          $ref: '#/components/schemas/StatsField'
          default: false
        phq_viewership_sports_tennis:
          $ref: '#/components/schemas/StatsField'
          default: false
        phq_viewership_sports_tennis_us_open:
          $ref: '#/components/schemas/StatsField'
          default: false
        phq_viewership_sports_tennis_wimbledon:
          $ref: '#/components/schemas/StatsField'
          default: false
        phq_spend_conferences:
          $ref: '#/components/schemas/StatsField'
          default: false
        phq_spend_expos:
          $ref: '#/components/schemas/StatsField'
          default: false
        phq_spend_sports:
          $ref: '#/components/schemas/StatsField'
          default: false
        phq_spend_community:
          $ref: '#/components/schemas/StatsField'
          default: false
        phq_spend_concerts:
          $ref: '#/components/schemas/StatsField'
          default: false
        phq_spend_festivals:
          $ref: '#/components/schemas/StatsField'
          default: false
        phq_spend_performing_arts:
          $ref: '#/components/schemas/StatsField'
          default: false
        phq_spend_conferences_accommodation:
          $ref: '#/components/schemas/StatsField'
          default: false
        phq_spend_expos_accommodation:
          $ref: '#/components/schemas/StatsField'
          default: false
        phq_spend_sports_accommodation:
          $ref: '#/components/schemas/StatsField'
          default: false
        phq_spend_community_accommodation:
          $ref: '#/components/schemas/StatsField'
          default: false
        phq_spend_concerts_accommodation:
          $ref: '#/components/schemas/StatsField'
          default: false
        phq_spend_festivals_accommodation:
          $ref: '#/components/schemas/StatsField'
          default: false
        phq_spend_performing_arts_accommodation:
          $ref: '#/components/schemas/StatsField'
          default: false
        phq_spend_conferences_hospitality:
          $ref: '#/components/schemas/StatsField'
          default: false
        phq_spend_expos_hospitality:
          $ref: '#/components/schemas/StatsField'
          default: false
        phq_spend_sports_hospitality:
          $ref: '#/components/schemas/StatsField'
          default: false
        phq_spend_community_hospitality:
          $ref: '#/components/schemas/StatsField'
          default: false
        phq_spend_concerts_hospitality:
          $ref: '#/components/schemas/StatsField'
          default: false
        phq_spend_festivals_hospitality:
          $ref: '#/components/schemas/StatsField'
          default: false
        phq_spend_performing_arts_hospitality:
          $ref: '#/components/schemas/StatsField'
          default: false
        phq_spend_conferences_transportation:
          $ref: '#/components/schemas/StatsField'
          default: false
        phq_spend_expos_transportation:
          $ref: '#/components/schemas/StatsField'
          default: false
        phq_spend_sports_transportation:
          $ref: '#/components/schemas/StatsField'
          default: false
        phq_spend_community_transportation:
          $ref: '#/components/schemas/StatsField'
          default: false
        phq_spend_concerts_transportation:
          $ref: '#/components/schemas/StatsField'
          default: false
        phq_spend_festivals_transportation:
          $ref: '#/components/schemas/StatsField'
          default: false
        phq_spend_performing_arts_transportation:
          $ref: '#/components/schemas/StatsField'
          default: false
      type: object
      required:
        - active
      title: FeaturesRequestModel
    GeoDistancePoint:
      properties:
        lon:
          type: number
          title: Lon
          description: Longitude float value for geo-point
        lat:
          type: number
          title: Lat
          description: Latitude float value for geo-point
        radius:
          anyOf:
            - type: string
            - type: 'null'
          title: Radius
          description: Radius value for defining the bounds from geo-point
      type: object
      required:
        - lon
        - lat
      title: GeoDistancePoint
    HTTPValidationError:
      properties:
        detail:
          items:
            $ref: '#/components/schemas/ValidationError'
          type: array
          title: Detail
      type: object
      title: HTTPValidationError
    HourOfDayRange:
      properties:
        gt:
          anyOf:
            - type: integer
              exclusiveMaximum: 23
              minimum: 0
            - type: 'null'
          title: Gt
        gte:
          anyOf:
            - type: integer
              maximum: 23
              minimum: 0
            - type: 'null'
          title: Gte
        lt:
          anyOf:
            - type: integer
              maximum: 23
              exclusiveMinimum: 0
            - type: 'null'
          title: Lt
        lte:
          anyOf:
            - type: integer
              maximum: 23
              minimum: 0
            - type: 'null'
          title: Lte
      type: object
      title: HourOfDayRange
    Interval:
      type: string
      enum:
        - day
        - week
      title: Interval
    Location:
      properties:
        place_id:
          anyOf:
            - items:
                type: integer
              type: array
            - type: 'null'
          title: Place Id
          description: PlaceIDs to aggregate across
        geo:
          anyOf:
            - $ref: '#/components/schemas/GeoDistancePoint'
            - type: 'null'
        saved_location_id:
          anyOf:
            - items:
                type: string
              type: array
            - type: 'null'
          title: Saved Location Id
          description: Saved location IDs to aggregate across
      type: object
      title: Location
    PhqStatisticsFeatureCriteria:
      properties:
        stats:
          anyOf:
            - items:
                $ref: '#/components/schemas/StatsFieldTypes'
              type: array
              maxItems: 7
            - type: 'null'
          title: Stats
          description: Selection of statistics to process
          default:
            - sum
            - count
        phq_rank:
          anyOf:
            - $ref: '#/components/schemas/RankRange'
            - type: 'null'
          description: Definition af phq rank range filter criteria
          default: {}
        local_rank:
          anyOf:
            - $ref: '#/components/schemas/RankRange'
            - type: 'null'
          description: Definition af local rank range filter criteria
          default: {}
      type: object
      title: PhqStatisticsFeatureCriteria
    PredictedEvents:
      properties:
        exclude:
          type: boolean
          title: Exclude
          description: Exclude predicted events
          default: false
      type: object
      title: PredictedEvents
    RankRange:
      properties:
        gt:
          anyOf:
            - type: integer
              exclusiveMaximum: 100
              minimum: 0
            - type: 'null'
          title: Gt
        gte:
          anyOf:
            - type: integer
              maximum: 100
              minimum: 0
            - type: 'null'
          title: Gte
        lt:
          anyOf:
            - type: integer
              maximum: 100
              exclusiveMinimum: 0
            - type: 'null'
          title: Lt
        lte:
          anyOf:
            - type: integer
              maximum: 100
              minimum: 0
            - type: 'null'
          title: Lte
      type: object
      title: RankRange
    StatsField:
      anyOf:
        - type: boolean
        - $ref: '#/components/schemas/PhqStatisticsFeatureCriteria'
    StatsFieldTypes:
      type: string
      enum:
        - avg
        - count
        - max
        - median
        - min
        - sum
        - std_dev
      title: StatsFieldTypes
    ValidationError:
      properties:
        loc:
          items:
            anyOf:
              - type: string
              - type: integer
          type: array
          title: Location
        msg:
          type: string
          title: Message
        type:
          type: string
          title: Error Type
      type: object
      required:
        - loc
        - msg
        - type
      title: ValidationError
    Weekday:
      type: string
      enum:
        - monday
        - tuesday
        - wednesday
        - thursday
        - friday
        - saturday
        - sunday
      title: Weekday
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: "$API_KEY"