openapi: 3.1.0
info:
  title: PredictHQ Events API
  version: 1.0.0
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
  termsOfService: https://www.predicthq.com/legal/terms
servers:
  - url: https://api.predicthq.com
externalDocs: 
  url: https://docs.predicthq.com
  description: PredictHQ API Documentation
security:
  - BearerAuth: []
tags:
  - name: Events API
    externalDocs: 
      url: https://docs.predicthq.com/api/events
      description: Events API Docs
paths:
  /v1/events/:
    get:
      operationId: searchEvents
      tags:
        - Events API
      summary: Search Events
      description: |-
        Search for events happening in a location and date range. Use our extensive filters to narrow down your results.
      parameters:
        - in: query
          name: active.gte
          description: |-
            Filters events that are active on or after the specified date.

            Expected format: `YYYY-MM-DD` or `YYYY-MM-DDThh:mm:ss`.
          required: false
          schema:
            type: string
            format: date-time
          example: "2025-01-01"
        - in: query
          name: active.gt
          description: |-
            Filters events that are active after the specified date (exclusive).

            Expected format: `YYYY-MM-DD` or `YYYY-MM-DDThh:mm:ss`.
          required: false
          schema:
            type: string
            format: date-time
        - in: query
          name: active.lte
          description: |-
            Filters events that are active on or before the specified date.

            Expected format: `YYYY-MM-DD` or `YYYY-MM-DDThh:mm:ss`.
          required: false
          schema:
            type: string
            format: date-time
          example: "2025-02-01"
        - in: query
          name: active.lt
          description: |-
            Filters events that are active before the specified date (exclusive).

            Expected format: `YYYY-MM-DD` or `YYYY-MM-DDThh:mm:ss`.
          required: false
          schema:
            type: string
            format: date-time
        - in: query
          name: active.tz
          description: |-
            Specifies the timezone for the `active.*` date parameters.
            
            Timezone must be in the [TZ Database](https://en.wikipedia.org/wiki/List_of_tz_database_time_zones) format (e.g. `America/Los_Angeles`).
          required: false
          schema:
            type: string
            default: UTC
        - in: query
          name: beam.analysis_id
          description: |-
            An optional Beam Analysis filter which if provided will calculate the location, rank and categories from the Beam Analysis and optionally the Beam Analysis group (see `beam.group_id`).

            This is the best way to filter for events relevant to your business based on your Beam Analysis.
          required: false
          schema:
            type: string
        - in: query
          name: beam.group_id
          description: |-
            If `beam.group_id` is provided the categories will be calculated from the feature importance results of the Analysis Group otherwise the categories will be calculated from the feature importance results of the individual Analysis.

            If using `beam.group_id` the `beam.analysis_id` is required.
          required: false
          schema:
            type: string
        - in: query
          name: brand_unsafe.exclude
          description: |-
            Whether or not to exclude potentially brand-unsafe events. Potentially brand-unsafe events are included by default.

            Examples of brand-unsafe events include content that promotes hate, violence or discrimination, coarse language, content that is sexually suggestive or explicit, etc.
          required: false
          schema:
            type: string
            enum:
             - "true"
             - "false"
            default: "false"
        - in: query
          name: cancelled.gte
          description: |
            Filters events that were cancelled on or after the specified date.

            Expected format: `YYYY-MM-DD` or `YYYY-MM-DDThh:mm:ss`.
          required: false
          schema:
            type: string
            format: date-time
          example: "2025-01-01"
        - in: query
          name: cancelled.gt
          description: |
            Filters events that were cancelled after the specified date (exclusive).

            Expected format: `YYYY-MM-DD` or `YYYY-MM-DDThh:mm:ss`.
          required: false
          schema:
            type: string
            format: date-time
        - in: query
          name: cancelled.lte
          description: |
            Filters events that were cancelled on or before the specified date.

            Expected format: `YYYY-MM-DD` or `YYYY-MM-DDThh:mm:ss`.
          required: false
          schema:
            type: string
            format: date-time
          example: "2025-02-01"
        - in: query
          name: cancelled.lt
          description: |
            Filters events that were cancelled before the specified date (exclusive).

            Expected format: `YYYY-MM-DD` or `YYYY-MM-DDThh:mm:ss`.
          required: false
          schema:
            type: string
            format: date-time
        - in: query
          name: cancelled.tz
          description: |-
            Specifies the timezone for the `cancelled.*` date parameters.
            
            Timezone must be in the [TZ Database](https://en.wikipedia.org/wiki/List_of_tz_database_time_zones) format (e.g. `America/Los_Angeles`).
          required: false
          schema:
            type: string
            default: UTC
        - in: query
          name: category
          description: |-
            A comma-separated list of categories.

            Take a look at the [Event Categories](https://docs.predicthq.com/getting-started/predicthq-data/event-categories) page for an overview of the different categories.
          required: false
          schema:
            type: array
            items:
              type: string
              enum:
                - "academic"
                - "school-holidays"
                - "public-holidays"
                - "observances"
                - "politics"
                - "conferences"
                - "expos"
                - "concerts"
                - "festivals"
                - "performing-arts"
                - "sports"
                - "community"
                - "daylight-savings"
                - "airport-delays"
                - "severe-weather"
                - "disasters"
                - "terror"
                - "health-warnings"
          style: form
          explode: false
          example:
            - "concerts"
            - "sports"
        - in: query
          name: country
          description: |-
            A comma-separated list of 2-letter country codes.
          required: false
          schema:
            type: array
            items:
              type: string
          style: form
          explode: false
          example: "US"
        - in: query
          name: deleted_reason
          description: |-
            A comma-separated list of deleted reasons for the events.
          required: false
          schema:
            type: array
            items:
              type: string
              enum:
                - cancelled
                - invalid
                - duplicate
                - postponed
          style: form
          explode: false
          example:
            - cancelled
            - duplicate
        - in: query
          name: end.gte
          description: |-
            Filters events that end on or after the specified date.

            Expected format: `YYYY-MM-DD` or `YYYY-MM-DDThh:mm:ss`.
          required: false
          schema:
            type: string
            format: date-time
          example: "2025-01-01"
        - in: query
          name: end.gt
          description: |-
            Filters events that end after the specified date (exclusive).

            Expected format: `YYYY-MM-DD` or `YYYY-MM-DDThh:mm:ss`.
          required: false
          schema:
            type: string
            format: date-time
        - in: query
          name: end.lte
          description: |-
            Filters events that end on or before the specified date.

            Expected format: `YYYY-MM-DD` or `YYYY-MM-DDThh:mm:ss`.
          required: false
          schema:
            type: string
            format: date-time
          example: "2025-02-01"
        - in: query
          name: end.lt
          description: |-
            Filters events that end before the specified date (exclusive).

            Expected format: `YYYY-MM-DD` or `YYYY-MM-DDThh:mm:ss`.
          required: false
          schema:
            type: string
            format: date-time
        - in: query
          name: end.tz
          description: |-
            Specifies the timezone for the `end.*` date parameters.
            
            Timezone must be in the [TZ Database](https://en.wikipedia.org/wiki/List_of_tz_database_time_zones) format (e.g. `America/Los_Angeles`).
          required: false
          schema:
            type: string
            default: UTC
        - in: query
          name: end_around.origin
          description: |-
            Fuzzy date search around event end datetime. When using `end_around.*` params, `origin` is required.

            Can influence `relevance`.
          required: false
          deprecated: true
          schema:
            type: string
            format: date
          example: "2025-02-01"
        - in: query
          name: end_around.offset
          description: |-
            The number of days from the origin before the score starts to decay (optional).
          required: false
          deprecated: true
          schema:
            type: string
            pattern: '^\d{1,3}d$'
            default: "0d"
          example: "5d"
        - in: query
          name: end_around.scale
          description: |-
            Distance from origin +/- offset at which the score will equal the decay value (optional).
          required: false
          deprecated: true
          schema:
            type: string
            pattern: '^\d{1,3}d$'
            default: "3d"
          example: "10d"
        - in: query
          name: end_around.decay
          description: |-
            Score value at the scale distance (optional).
          required: false
          deprecated: true
          schema:
            type: number
            format: double
            minimum: 0.0
            maximum: 1.0
            default: 0.5
          example: 0.9
        - in: query
          name: entity.id
          description: |-
            A comma-separated list of Entity identifiers.
          required: false
          schema:
            type: array
            items:
              type: string
          style: form
          explode: false
          example:
            - "XABWvihQAj8TnjvF6WNzLW"
        - in: query
          name: first_seen.gte
          description: |-
            Filters events that were first seen in our system on or after the specified date.

            Expected format: `YYYY-MM-DD` or `YYYY-MM-DDThh:mm:ss`.
          required: false
          schema:
            type: string
            format: date-time
          example: "2025-01-01"
        - in: query
          name: first_seen.gt
          description: |-
            Filters events that were first seen in our system after the specified date (exclusive).

            Expected format: `YYYY-MM-DD` or `YYYY-MM-DDThh:mm:ss`.
          required: false
          schema:
            type: string
            format: date-time
        - in: query
          name: first_seen.lte
          description: |-
            Filters events that were first seen in our system on or before the specified date.

            Expected format: `YYYY-MM-DD` or `YYYY-MM-DDThh:mm:ss`.
          required: false
          schema:
            type: string
            format: date-time
          example: "2025-02-01"
        - in: query
          name: first_seen.lt
          description: |-
            Filters events that were first seen in our system before the specified date (exclusive).

            Expected format: `YYYY-MM-DD` or `YYYY-MM-DDThh:mm:ss`.
          required: false
          schema:
            type: string
            format: date-time
        - in: query
          name: first_seen.tz
          description: |-
            Specifies the timezone for the `first_seen.*` date parameters.
            
            Timezone must be in the [TZ Database](https://en.wikipedia.org/wiki/List_of_tz_database_time_zones) format (e.g. `America/Los_Angeles`).
          required: false
          schema:
            type: string
            default: UTC
        - in: query
          name: id
          description: |-
            A comma-separated list of Event identifiers.
          required: false
          schema:
            type: array
            items:
              type: string
          style: form
          explode: false
          example: "z13B3870YOgv"
        - in: query
          name: impact.gte
          description: |-
            Filters events that are predicted to have an impact on or after the specified date.

            The Predicted Impact Pattern of events can be larger than the actual event date range.

            These parameters work similarly to the `active.*` parameter, but it uses an industry-specific Predicted Impact Pattern date range of an event where applicable.

            You must also specify the industry (see `impact.industry`).

            Expected format: `YYYY-MM-DD` or `YYYY-MM-DDThh:mm:ss`.
          required: false
          schema:
            type: string
            format: date-time
          example: "2025-01-01"
        - in: query
          name: impact.gt
          description: |-
            Filters events that are predicted to have an impact after the specified date (exclusive).

            Expected format: `YYYY-MM-DD` or `YYYY-MM-DDThh:mm:ss`.
          required: false
          schema:
            type: string
            format: date-time
        - in: query
          name: impact.lte
          description: |-
            Filters events that are predicted to have an impact on or before the specified date.

            Expected format: `YYYY-MM-DD` or `YYYY-MM-DDThh:mm:ss`.
          required: false
          schema:
            type: string
            format: date-time
          example: "2025-02-01"
        - in: query
          name: impact.lt
          description: |-
            Filters events that are predicted to have an impact before the specified date (exclusive).

            Expected format: `YYYY-MM-DD` or `YYYY-MM-DDThh:mm:ss`.
          required: false
          schema:
            type: string
            format: date-time
        - in: query
          name: impact.tz
          description: |-
            Specifies the timezone for the `impact.*` date parameters.
            
            Timezone must be in the [TZ Database](https://en.wikipedia.org/wiki/List_of_tz_database_time_zones) format (e.g. `America/Los_Angeles`).
          required: false
          schema:
            type: string
            default: UTC
        - in: query
          name: impact.industry
          description: |-
            Selected industry for the Predicted Impact Patterns.

            If no industry is selected, `impact.*` will function effectively the same as `active.*`.
          required: false
          schema:
            type: string
            enum:
              - "accomodation"
              - "cpg"
              - "tourism"
              - "marketing"
              - "restaurants"
              - "retail"
              - "transportation"
          example: "accommodation"
        - in: query
          name: label
          description: |-
            A comma-separated list of labels.

            Please note that all event labels are lowercase and that the search is case sensitive.

            The `label` param has been deprecated. Please update your integrations to use `phq_label` instead.
          required: false
          deprecated: true
          schema:
            type: array
            items:
              type: string
          style: form
          explode: false
          example:
            - holiday
            - observance
        - in: query
          name: local_rank.gte
          description: |-
            Filters events with a Local Rank greater than or equal to the specified value.
            
            Events without a Local Rank will not be returned.
          required: false
          schema:
            type: integer
            minimum: 0
            maximum: 100
          example: 80
        - in: query
          name: local_rank.gt
          description: |-
            Filters events with a Local Rank greater than the specified value.
            
            Events without a Local Rank will not be returned.
          required: false
          schema:
            type: integer
            minimum: 0
            maximum: 100
        - in: query
          name: local_rank.lte
          description: |-
            Filters events with a Local Rank less than or equal to the specified value.
            
            Events without a Local Rank will not be returned.
          required: false
          schema:
            type: integer
            minimum: 0
            maximum: 100
          example: 90
        - in: query
          name: local_rank.lt
          description: |-
            Filters events with a Local Rank less than the specified value.
            
            Events without a Local Rank will not be returned.
          required: false
          schema:
            type: integer
            minimum: 0
            maximum: 100
        - in: query
          name: local_rank_level
          description: |-
            A comma-separated list of numbers between 1 and 5, corresponding to the Local Rank levels.

            Possible values:

            - 1 - Minor (rank between 0 and 20).
            - 2 - Moderate (rank between 21 and 40).
            - 3 - Important (rank between 41 and 60).
            - 4 - Significant (rank between 61 and 80).
            - 5 - Major (rank between 81 and 100).
          required: false
          schema:
            type: array
            items:
              type: integer
              enum:
                - 1
                - 2
                - 3
                - 4
                - 5
          style: form
          explode: false
          examples:
            rank:
              summary: Example rank levels
              value:
                - 4
                - 5
        - in: query
          name: location_around.origin
          description: |-
            Fuzzy location search around event location. When using `location_around.*` params, `origin` is required.

            Please note this affects the `relevance` value and does not restrict search results to the specified latitude/longitude and offset. Read more in the [Relevance guide](https://docs.predicthq.com/getting-started/guides/events-api-guides/understanding-relevance-field-in-event-results) and combine with the `within` parameter to restrict results to a specified latitude/longitude and radius.
          required: false
          deprecated: true
          schema:
            type: string
            pattern: '^-?\d+(\.\d+)?,-?\d+(\.\d+)?$'
          example: "40.730610,-73.935242"
        - in: query
          name: location_around.offset
          description: |-
            The distance before decay is applied (optional).
            
            Distance unit can be one of `m`, `km`, `ft`, `mi`.
          required: false
          deprecated: true
          schema:
            type: string
            pattern: '^\d+(m|km|ft|mi)$'
            default: 0km
          example: 2mi
        - in: query
          name: location_around.scale
          description: |-
            Distance from origin + offset at which the score will equal decay value (optional).
            
            Distance unit can be one of `m`, `km`, `ft`, `mi`.
          required: false
          deprecated: true
          schema:
            type: string
            pattern: '^\d+(m|km|ft|mi)$'
            default: 2km
          example: 4mi
        - in: query
          name: location_around.decay
          description: |-
            Score value at the `scale` distance (optional).
          required: false
          deprecated: true
          schema:
            type: number
            format: double
            minimum: 0.0
            maximum: 1.0
            default: 0.5
          example: 0.9
        - in: query
          name: location_confidence_score.gte
          description: |-
            A unique attribute to Predicted Events that were generated from analyzing sets of recurring events. The score ranges from 1 to 5, representing the event’s propensity to change location with each recurrence. Higher scores indicate a higher consistency in location, while lower scores indicate the event’s location is more likely to shift once additional details become available.
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 5
        - in: query
          name: location_confidence_score.gt
          description: |-
            Filters events with a location confidence score greater than the specified score (exclusive).
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 5
        - in: query
          name: location_confidence_score.lte
          description: |-
            Filters events with a location confidence score less than or equal to the specified score.
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 5
        - in: query
          name: location_confidence_score.lt
          description: |-
            Filters events with a location confidence score less than the specified score (exclusive).
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 5
        - in: query
          name: parent.include
          description: |-
            Whether or not to include parent events / exclude child events.

            Note that child events are those events that have a link to a parent event.
            Parent events are all the other events, whether they have children or not.

            See the documentation on [umbrella events](https://docs.predicthq.com/getting-started/guides/date-and-time-guides/working-with-multi-day-and-umbrella-events#umbrella-events-beta) for more information on parent and child events.
          required: false
          schema:
            type: string
            enum:
             - "true"
             - "false"
             - "only"
            default: "true"
        - in: query
          name: phq_attendance.gte
          description: |-
            Filters events with a Predicted Attendance greater than or equal to the specified value.
          required: false
          schema:
            type: integer
            minimum: 0
          example: 2000
        - in: query
          name: phq_attendance.gt
          description: |-
            Filters events with a Predicted Attendance greater than the specified value.
          required: false
          schema:
            type: integer
            minimum: 0
        - in: query
          name: phq_attendance.lte
          description: |-
            Filters events with a Predicted Attendance less than or equal to the specified value.
          required: false
          schema:
            type: integer
            minimum: 0
          example: 10000
        - in: query
          name: phq_attendance.lt
          description: |-
            Filters events with a Predicted Attendance less than the specified value.
          required: false
          schema:
            type: integer
            minimum: 0
        - in: query
          name: phq_label
          description: |-
            A comma-separated list of PHQ labels.

            PHQ Labels leverage AI and classifier models for more accurate labelling.

            Please note that all event labels are lowercase and that the search is case sensitive.

            Take a look at [PHQ Label Values](https://docs.predicthq.com/getting-started/predicthq-data/labels#phq-label-values) to get a list of possible values.
          required: false
          schema:
            type: array
            items:
              type: string
          style: form
          explode: false
          example:
            - agriculture-forestry-and-fisheries
            - food-and-beverage
        - in: query
          name: phq_label.op
          description: |-
            Whether to find events with `any` or `all` the specified labels.
          required: false
          schema:
            type: string
            enum:
             - "all"
             - "any"
            default: "any"
        - in: query
          name: phq_label.exclude
          description: |-
            A comma-separated list of PHQ labels to exclude. This will filter for events that do not have the specified labels.

            Please note that all event labels are lowercase and that the search is case sensitive.
          required: false
          schema:
            type: array
            items:
              type: string
          style: form
          explode: false
          example:
            - lifestyle
        - in: query
          name: phq_label.exclude.op
          description: |-
            Whether to exclude events with `any` or `all` the specified labels.
          required: false
          schema:
            type: string
            enum:
             - "all"
             - "any"
            default: "any"
        - in: query
          name: place.scope
          description: |-
            A comma-separated list of Place IDs and/or IATA (3 character), ICAO (4 character), and UN/LOCODE (5 character) airport codes where the events occur.

            A CSV file of all supported airport codes and their respective Place IDs is available to download.

            Results will contain events that apply to the parent and children places of the specified place. E.g. National, regional and local school holidays that apply to a region.
          required: false
          schema:
            type: array
            items:
              type: string
          style: form
          explode: false
          example:
            - "5128638"
            - SFO
        - in: query
          name: place.exact
          description: |-
            A comma-separated list of Place IDs and/or IATA (3 character), ICAO (4 character), and UN/LOCODE (5 character) airport codes where the events occur.

            Results will contain events that apply to the specified place only. E.g. Regional school holidays only.
          required: false
          schema:
            type: array
            items:
              type: string
          style: form
          explode: false
        - in: query
          name: placekey
          description: |-
            A comma-separated list of Placekeys (See [placekey.io](https://www.placekey.io/)). Returns events that have a Placekey value matching this filter.

            There are 2 parts to a Placekey: `what@where`

            - `what` Contains 2 part in the form `{address}-{poi}`.
              - The first part represents an address.
              - The second part represents a Point Of Interest (E.g. named venue). This will be missing on locations that only have addresses
            - `where` An H3 hexagon index (resolution 10) of the event.

            This filter supports entering a full Placekey to match events having that specific Placekey or a partial Placekey (such as just the `@where` part) to perform a partial match on Placekey. You can use the following Placekey format in this filter:

            - `{address}-{poi}@{where}` - only returns events with a full matching placekey (an exact match)
            - `{address}@{where}` - matches events where the the address and where part match (even if poi is different)
            - `@{where}` - matches events for which the `@where` part matches, ignores the `{address}-{poi}` parts. You can perform a partial match on the `@where` part to find nearby events. The minimum amount of characters that can be matched on is 5. See [using Placekey](https://docs.predicthq.com/getting-started/guides/geolocation-guides/searching-by-location/find-events-by-placekey) for more details.


            Note that Placekey applies to our attended event categories. Some events do not contain a Placekey.
          required: false
          schema:
            type: array
            items:
              type: string
          style: form
          explode: false
          example:
            - "225@63j-rqb-j7q"
            - "@627-s8j-z2k"
        - $ref: '#/components/parameters/LimitParam'
        - $ref: '#/components/parameters/OffsetParam'
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
components:
  parameters:
    LimitParam:
      name: limit
      in: query
      description: Limit the number of results.
      required: false
      schema:
        type: integer
        default: 10
    OffsetParam:
      name: offset
      in: query
      description: Offset the results.
      required: false
      schema:
        type: integer
        default: 0
  schemas:
    PaginationPrevNext:
      type: object
      properties:
        count:
          type: integer
          description: Number of results.
        prev:
          type: string
          description: URL for the previous page.
          examples:
            - 'https://<url>?limit=10&offset=10'
        next:
          type: string
          description: URL for the next page.
          examples:
            - 'https://<url>?limit=10&offset=20'
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: "$API_KEY"
